<div class="container">
    <table>
        <tr>
            <td>
                <div class="pais">
                </div>
            </td>

            <td>
                <div class="pais">
                </div>
            </td>

            <td>
                <div class="pais">
                </div>
            </td>

            <td>   
                <div class="pais">
                </div>
            </td>
        </tr>

        <tr>
            <td>
                <div class="pais">
                </div>
            </td>

            <td>
                <div class="pais">
                </div>
            </td>

            <td>
                <div class="pais">
                </div>
            </td>

            <td>   
                <div class="pais">
                </div>
            </td>
        </tr>

        <tr>
            <td>
                <div class="pais">
                </div>
            </td>

            <td>
                <div class="pais">
                </div>
            </td>

            <td>
                <div class="pais">
                </div>
            </td>

            <td>   
                <div class="pais">
                </div>
            </td>
        </tr>
    </table>
</div>
