.cardFundo{
    background-color: blueviolet;
    width: 100%;
    height: 80px;
    align-items: center;
    text-align: center;
    margin-top: 0px;
}

.pesquisa{
    font-size: 15px;
    color: black;
}

h2{
    padding-top: 25px;
    color: white;
}